<a href="https://colab.research.google.com/github/zzhining/ml_basic/blob/main/testing_hypothesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy
from scipy import stats
import pandas as pd

# 키 데이터 생성 (예시: 20명의 학생 키)
height_data = {
    'height': [168, 172, 181, 173, 176, 169, 170, 174, 178, 165,
          177, 171, 180, 169, 175, 182, 174, 168, 176, 177]
}

# 데이터프레임으로 변환
height_df = pd.DataFrame(height_data)

In [ ]:
# 데이터프레임에서 'height' 열을 확인
height_df['height']

In [ ]:
# 'height' 열을 리스트로 변환
height_list = list(height_df['height'])
height_list

In [ ]:
# 단일 표본 t-검정을 수행
result = stats.ttest_1samp(height_list, 175)
result

In [ ]:
# 결과를 출력
print('t검정 통계량 = {}, pvalue = {}'.format(result.statistic, result.pvalue))

In [ ]:
height_df['height2'] = height_df['height'] + 5

result2 = stats.ttest_1samp(list(height_df['height2']), 175)
print('t검정 통계량 = {}, pvalue = {}'.format(result2.statistic, result2.pvalue))

In [ ]:
import seaborn as sns

sns.histplot(height_df['height'], kde = True, bins = 15)
sns.histplot(height_df['height2'], kde = True, bins = 15)