<a href="https://colab.research.google.com/github/zzhining/ml_basic/blob/main/pandas/exercise/%EA%B5%AC%EC%A1%B0_%EB%B3%80%EA%B2%BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-02',
            '2024-01-03', '2024-01-03', '2024-01-03', '2024-01-04', '2024-01-04', '2024-01-04'],
    'Company': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'Close': [100, 150, 200, 110, 160, 210, 105, 155, 205, 115, 165, 215],
    'Volume': [1000, 1500, 2000, 1100, 1600, 2100, 1050, 1550, 2050, 1150, 1650, 2150]
}

df = pd.DataFrame(data)

1. 각 회사별 평균 종가('Close')를 계산하세요.

In [ ]:
# 답을 작성하세요.
answer1 =

In [ ]:
# 테스트
print(answer1)

2. 각 회사별 전체 기간 동안의 총 거래량('Volume')을 계산하세요.

In [ ]:
# 답을 작성하세요.
answer2 =

In [ ]:
# 테스트
print(answer2)

3. 각 날짜별 총 거래량('Volume')을 계산하세요.

In [ ]:
# 답을 작성하세요.
answer3 =

In [ ]:
# 테스트
print(answer3)

4. 피봇(pivot) 테이블을 사용하여 날짜별 회사의 평균 종가를 계산하세요.

In [ ]:
# 답을 작성하세요.
answer4 =

In [ ]:
# 테스트
print(answer4)

5. 다음 피벗 테이블을 다음과 같은 형태로 복구하세요.

|-|Date|Company|Close|
|---|---|---|---|
|0 |2024-01-01|A|100|
|1 |2024-01-02|A|110|
|2 |2024-01-03|A|105|
|3 |2024-01-04|A|115|
|4 |2024-01-01|B|150|
|5 |2024-01-02|B|160|
|6 |2024-01-03|B|155|
|7 |2024-01-04|B|165|
|8 |2024-01-01|C|200|
|9 |2024-01-02|C|210|
|10|2024-01-03|C|205|
|11|2024-01-04|C|215|

In [ ]:
# 답을 작성하세요.
answer5 =
print(answer5)

6. 각 회사별 일별 종가 변동(최대 종가 - 최소 종가)을 계산하세요.

In [ ]:
# 답을 작성하세요.
answer6 =

In [ ]:
# 테스트
print(answer6)

7. 각 회사별 거래량 합계가 5000 이상인 회사만 선택하세요.

In [ ]:
# 답을 작성하세요.
answer7 =

In [ ]:
# 테스트
print(answer7)