<a href="https://colab.research.google.com/github/zzhining/ml_basic/blob/main/pandas/exercise/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B3%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두 개의 주가 데이터프레임 df1과 df2가 있습니다. df1은 Date, Open, Close 열을 가지고 있고, df2는 Date, High, Low 열을 가지고 있습니다. 이 두 데이터프레임을 날짜를 기준으로 병합하여 새로운 데이터프레임을 생성하세요.

In [ ]:
import pandas as pd


df1 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15),
    'Open': [100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170],
    'Close': [102, 108, 112, 116, 122, 127, 132, 137, 142, 147, 152, 157, 162, 167, 172]
})

df2 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15),
    'High': [105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175],
    'Low': [98, 103, 108, 113, 118, 123, 128, 133, 138, 143, 148, 153, 158, 163, 168]
})

In [ ]:
# 답을 작성하세요
answer1 =

In [ ]:
# 테스트
print(answer1)

2. 주가 데이터프레임 df1과 기업 정보 데이터프레임 df2가 있습니다. df1은 Date, Close 열을 가지고 있고, df2는 Ticker (주식 코드), Sector (업종) 열을 가지고 있습니다. 이 두 데이터프레임을 주식 코드를 기준으로 병합하여 새로운 데이터프레임을 생성하세요.

In [ ]:
df1 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15),
    'Close': [100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170],
    'Ticker': ['AAPL', 'AAPL', 'AAPL', 'AAPL', 'AAPL', 'GOOGL', 'GOOGL', 'GOOGL', 'GOOGL', 'GOOGL', 'MSFT', 'MSFT', 'MSFT', 'MSFT', 'MSFT']
})

df2 = pd.DataFrame({
    'Ticker': ['AAPL', 'GOOGL', 'MSFT'],
    'Sector': ['Technology', 'Technology', 'Technology']
})

In [ ]:
# 답을 작성하세요
answer2 =

In [ ]:

print(answer2)

         Date  Close Ticker      Sector
0  2023-01-01    100   AAPL  Technology
1  2023-01-02    105   AAPL  Technology
2  2023-01-03    110   AAPL  Technology
3  2023-01-04    115   AAPL  Technology
4  2023-01-05    120   AAPL  Technology
5  2023-01-06    125  GOOGL  Technology
6  2023-01-07    130  GOOGL  Technology
7  2023-01-08    135  GOOGL  Technology
8  2023-01-09    140  GOOGL  Technology
9  2023-01-10    145  GOOGL  Technology
10 2023-01-11    150   MSFT  Technology
11 2023-01-12    155   MSFT  Technology
12 2023-01-13    160   MSFT  Technology
13 2023-01-14    165   MSFT  Technology
14 2023-01-15    170   MSFT  Technology

3. 주가 데이터프레임 df1과 투자자 정보 데이터프레임 df2가 있습니다. df1은 Date, Close 열을 가지고 있고, df2는 Date, Investor (투자자명), Shares (보유 주식 수) 열을 가지고 있습니다. 이 두 데이터프레임을 날짜와 투자자명을 기준으로 병합하여 새로운 데이터프레임을 생성하세요.

In [ ]:
df1 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15),
    'Investor': ['John', 'John', 'Alice', 'Alice', 'Bob', 'Bob', 'Jane', 'Jane', 'Eve', 'Eve', 'John', 'Alice', 'Bob', 'Jane', 'Eve'],
    'Close': [100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170]
})

df2 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15),
    'Investor': ['John', 'John', 'Alice', 'Alice', 'Bob', 'Bob', 'Jane', 'Jane', 'Eve', 'Eve', 'John', 'Alice', 'Bob', 'Jane', 'Eve'],
    'Shares': [100, 120, 130, 110, 105, 115, 125, 130, 140, 150, 135, 145, 155, 165, 175]
})

In [ ]:
# 답을 작성하세요
answer3 =

In [ ]:
# 테스트
print(answer3)

4. 위 두 데이터프레임에서 날짜 기준으로 왼쪽 외부 조인을 하여 새로운 데이터프레임을 생성하세요.

In [ ]:
# 답을 작성하세요.
answer4 =

In [ ]:
# 테스트
print(answer4)

5. 두 개의 주가 데이터프레임 df1과 df2가 있습니다. df1은 Date, Close 열을 가지고 있고, df2는 Date, Open 열을 가지고 있습니다. df1과 df2를 날짜를 기준으로 수직으로 병합하여 새로운 데이터프레임을 생성하세요.

In [ ]:
df1 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15),
    'Close': [100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170]
})

df2 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=15),
    'Open': [98, 103, 108, 113, 118, 123, 128, 133, 138, 143, 148, 153, 158, 163, 168]
})

In [ ]:
# 답을 작성하세요.
answer5 =

In [ ]:
# 테스트
print(answer5)

6. 주가 데이터프레임 df1과 주가 데이터프레임 df2가 있습니다. df1은 Date, Ticker, Close 열을 가지고 있고, df2는 Date, Ticker, Open, High, Low 열을 가지고 있습니다. 두 데이터프레임을 날짜와 티커를 기준으로 병합하고, 결과 데이터프레임을 Ticker와 Date 기준으로 정렬하세요.

In [ ]:
df1 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Ticker': ['AAPL', 'AAPL', 'GOOGL', 'GOOGL', 'MSFT', 'MSFT', 'AAPL', 'GOOGL', 'MSFT', 'AAPL'],
    'Close': [100, 105, 110, 115, 120, 125, 130, 135, 140, 145]
})

df2 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Ticker': ['AAPL', 'AAPL', 'GOOGL', 'GOOGL', 'MSFT', 'MSFT', 'AAPL', 'GOOGL', 'MSFT', 'AAPL'],
    'Open': [98, 103, 108, 113, 118, 123, 128, 133, 138, 143],
    'High': [102, 108, 112, 118, 122, 128, 132, 138, 144, 148],
    'Low': [97, 102, 107, 112, 117, 122, 127, 132, 137, 142]
})

In [ ]:
answer6 =
print(answer6)

        Date Ticker  Close  Open  High  Low
0 2023-01-01   AAPL    100    98   102   97
1 2023-01-02   AAPL    105   103   108  102
6 2023-01-07   AAPL    130   128   132  127
9 2023-01-10   AAPL    145   143   148  142
2 2023-01-03  GOOGL    110   108   112  107
3 2023-01-04  GOOGL    115   113   118  112
7 2023-01-08  GOOGL    135   133   138  132
4 2023-01-05   MSFT    120   118   122  117
5 2023-01-06   MSFT    125   123   128  122
8 2023-01-09   MSFT    140   138   144  137

7. 주가 데이터프레임 df1과 거래량 데이터프레임 df2가 있습니다. df1은 Date, Ticker, Close 열을 가지고 있고, df2는 Date, Ticker, Volume 열을 가지고 있습니다. 두 데이터프레임을 날짜와 티커를 기준으로 병합하고, 결측값을 0으로 채우세요.

In [ ]:
df1 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Ticker': ['AAPL', 'AAPL', 'AAPL', 'GOOGL', 'GOOGL', 'GOOGL', 'MSFT', 'MSFT', 'MSFT', 'MSFT'],
    'Close': [100, 105, 110, 115, 120, 125, 130, 135, 140, 145]
})

df2 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-03', periods=8),
    'Ticker': ['AAPL', 'AAPL', 'GOOGL', 'GOOGL', 'MSFT', 'MSFT', 'MSFT', 'MSFT'],
    'Volume': [10000, 12000, 13000, 11000, 10500, 11500, 12500, 13000]
})

In [ ]:
answer7 =
print(answer7)

         Date Ticker  Close   Volume
0  2023-01-01   AAPL  100.0      0.0
1  2023-01-02   AAPL  105.0      0.0
2  2023-01-03   AAPL  110.0  10000.0
3  2023-01-04  GOOGL  115.0      0.0
4  2023-01-05  GOOGL  120.0  13000.0
5  2023-01-06  GOOGL  125.0  11000.0
6  2023-01-07   MSFT  130.0  10500.0
7  2023-01-08   MSFT  135.0  11500.0
8  2023-01-09   MSFT  140.0  12500.0
9  2023-01-10   MSFT  145.0  13000.0
10 2023-01-04   AAPL    0.0  12000.0

@.주가 데이터프레임 df1과 주가 데이터프레임 df2가 있습니다. df1은 Date, Ticker, Close 열을 가지고 있고, df2는 Date, Ticker, Close 열을 가지고 있습니다. df1과 df2의 Close 열 이름을 각각 Close_A와 Close_B로 변경하여 날짜와 티커를 기준으로 병합하고, Close_A와 Close_B의 차이를 계산하여 새로운 열 Close_Diff를 추가하세요.

In [ ]:
df1 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Ticker': ['AAPL', 'AAPL', 'GOOGL', 'GOOGL', 'MSFT', 'MSFT', 'AAPL', 'GOOGL', 'MSFT', 'AAPL'],
    'Close': [100, 105, 110, 115, 120, 125, 130, 135, 140, 145]
})

df2 = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Ticker': ['AAPL', 'AAPL', 'GOOGL', 'GOOGL', 'MSFT', 'MSFT', 'AAPL', 'GOOGL', 'MSFT', 'AAPL'],
    'Close': [101, 106, 111, 116, 121, 126, 131, 136, 141, 146]
})

In [ ]:
# 답을 작성하세요
merged_df =

In [ ]:
print(merged_df)